TEMPLATE = lib

CONFIG += plugin
CONFIG += thread warn_on debug

INCLUDEPATH += ../../../lib

LIBS += -L../../../lib -lqtstalker

QMAKE_CXXFLAGS += -rdynamic -ffast-math -O2

target.path = "$${INSTALL_LIB_DIR}/qtstalker/plugins/indicator"
INSTALLS += target

# FIXME: QMAKE_DISTCLEAN does not seem to work from the top-level qtstalker.pro
# so doing it here.
#QMAKE_DISTCLEAN += qtstalker_defines.h
QMAKE_DISTCLEAN += ../../../.qmake.cache

QT += sql
QT += core
QT += gui
