TEMPLATE = lib

CONFIG += thread warn_on plugin

QMAKE_CXXFLAGS += -ffast-math
#QMAKE_CXXFLAGS += -Os

TARGET = $${pluginName}.0.34

INCLUDEPATH += ../../../lib
INCLUDEPATH += /usr/local/include/ta-lib

LIBS += -L../../../lib -lqtstalker
LIBS += -ldb
LIBS += -ldb
LIBS += -lta_abstract
LIBS += -lta_abstract_gc
LIBS += -lta_common
LIBS += -lta_func
LIBS += -L/usr/local/lib

# linux options
unix:linux-g++:LIBS += -ldl

# FreeBSD options
unix:freebsd-g++:INCLUDEPATH += /usr/X11R6/include
unix:freebsd-g++:INCLUDEPATH += /usr/local/include/db43
unix:freebsd-g++:LIBS += -L/usr/local/lib/db43

