# Define the installation directories.
win32 {
  INSTALL_BIN_DIR = ./
  INSTALL_DATA_DIR = ./data
  INSTALL_DOCS_DIR = ./doc
  INSTALL_LIB_DIR = ./
} else {
  INSTALL_BIN_DIR = /usr/local/bin
  INSTALL_DATA_DIR = /usr/local/share
  INSTALL_DOCS_DIR = /usr/local/share/doc
  INSTALL_LIB_DIR = /usr/local/lib
}

# The "configure" script will automatically determine INCLUDEPATH and LIBS,
# however you can adjust or replace it using "+=" and "=" and "-=" operators.
# See http://doc.trolltech.com/latest/qmake-advanced-usage.html#operators
# e.g.
# INCLUDEPATH += /opt/local/include/ta-lib 
# LIBS = -L/opt/local/lib
