TEMPLATE = lib

CONFIG += plugin
CONFIG += qt thread warn_on

INCLUDEPATH += ../../lib

LIBS += -L../../lib -lQuoteServer

QMAKE_CXXFLAGS += -rdynamic -ffast-math -O2

target.path = "$${INSTALL_LIB_DIR}/QuoteServer/plugins"
INSTALLS += target


# FIXME: QMAKE_DISTCLEAN does not seem to work from the top-level QuoteServer.pro
# so doing it here.
#QMAKE_DISTCLEAN += qtstalker_defines.h
QMAKE_DISTCLEAN += ../../.qmake.cache


QT -= gui
QT += sql
QT += network
QT += core

